.featured {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.featured-vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured-horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 9rem;
  padding-left: 1.87rem;
}

.featured-name {
  font-size: 3.75rem;
  font-weight: bold;
}

.featured-info {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.9rem;
}

.featured-points,
.featured-year,
.featured-seasons {
  display: inline-block;
  margin-right: 0.9rem;
}

.featured-points {
  color: #46d369;
}

.featured-description {
  margin-top: 0.9rem;
  font-size: 1.25rem;
  color: #999;
  max-width: 40%;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.featured-buttons {
  margin-top: 0.9rem;
  display: flex;
}

.featured-watch-button,
.featured-mylist-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
  margin-right: 0.6rem;
  opacity: 1;
  transition: opacity ease 0.2s;
}

.featured-watch-button:hover,
.featured-mylist-button:hover {
  opacity: 0.7;
}

.featured-watch-button {
  background-color: #fff;
  color: #000;
}

.featured-watch-button-icon {
  font-size: 2rem;
}

.featured-mylist-button {
  background-color: #333;
  color: #fff;
}

.featured-mylist-button-icon {
  font-size: 1.25rem;
}

.featured-genres {
  margin-top: 0.9rem;
  font-size: 1.125rem;
  color: #999;
}

@media (max-width: 760px) {
  .featured {
    height: 90vh;
  }

  .featured-name {
    font-size: 2.5rem;
  }

  .featured-info {
    font-size: 1rem;
  }

  .featured-description {
    font-size: 0.87rem;
    max-width: 100%;
    margin-right: 1.8rem;
    line-height: 1.25rem;
  }

  .featured-buttons {
    gap: 1.25rem;
  }

  .featured-watch-button,
  .featured-mylist-button {
    font-size: 1rem;
  }

  .featured-genres {
    font-size: 0.87rem;
  }
}
